@page
@model CinemaProject.Pages.Actors.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Actor</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Actor.Firstname)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Actor.Firstname)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Actor.Lastname)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Actor.Lastname)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Actor.Birthday)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Actor.Birthday)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Actor.Nationality)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Actor.Nationality)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Actor.ActorId">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
