@page
@model CinemaProject.Pages.Screenings.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Screening[0].Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Screening[0].LanguageversionLv)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Screening[0].MovieMovie)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Screening[0].RoomRoom)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Screening) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LanguageversionLv.Language)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MovieMovie.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RoomRoom.IsAvalible)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ScreeningId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ScreeningId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ScreeningId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
