@page
@model CinemaProject.Pages.Reviews.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Review</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <a style="color:red">@Html.ValidationMessage("isInDatabase")</a>
            <div class="form-group">
                <label asp-for="Review.Content" class="control-label"></label>
                <textarea asp-for="Review.Content" class="form-control" rows="6"></textarea>
                <span asp-validation-for="Review.Content" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Review.Rating" class="control-label"></label>
                <input asp-for="Review.Rating" class="form-control" />
                <span asp-validation-for="Review.Rating" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Review.MovieMovie.Name" class="control-label"></label>
                <input asp-for="Review.MovieMovieId" class="form-control" value="@ViewData["MovieName"]" disabled />
                <span asp-validation-for="Review.MovieMovieId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Review.UserUser.Username" class="control-label"></label>
                <input asp-for="Review.UserUserId" class="form-control" value="@ViewData["Username"]" disabled />
                <span asp-validation-for="Review.UserUserId" class="text-danger"></span>
            </div>
            <input asp-for="Review.MovieMovieId" class="form-control" value="@ViewData["MovieId"]" hidden />
            <input asp-for="Review.UserUserId" class="form-control" value="@ViewData["UserId"]" hidden />
            <div class="form-group">
                <input asp-for="Review.Creationdate" type="hidden" class="form-control" />
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="../Index">Back to Main Page</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
